{% extends "movist/layout.html" %}

{% block content %}

<form action="" method="get">
    <input type="text" name="query" placeholder="검색어를 입력해주세요." value="{{ request.GET.query }}" />
    <input type="submit" value="검색" />
    <!-- <button>검색</button> -->
</form>

<div class="row my-3">
    {% for movie in movie_list %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="card mb-3">
            <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.name }}" />
            <div class="card-body">
                <h5 class="card-title">{{ movie.name }}</h5>
                <p class="card-text">
                    {{ movie.desc|truncatechars:100 }}
                </p>
                <p class="card-text">
                    주연배우: {{ movie.actor.name }}
                </p>
                <a href="{% url "movie_detail" movie.pk %}" class="btn btn-primary">자세히 보기</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}